.sum {
  height: 50px;
  background-color: #adadad;
  width: 100%;
}

.sum p {
  font-size: 40px;
  margin: 5px;
}

.calculator-body {
  max-width: 400px;
  margin: auto;
}

.button {
  display: block;
  background-color: #adadad;
}

.clear {
  background-color: #ff0000;
}

button {
  width: 25%;
  height: 60px;
  font-size: 30px;
}

